<div class="container">
  <div class="row">
    <div class="col-m-2 mr-3 mt-5">
      <%= render 'layouts/search_genre', genres: @genres %>
    </div>
    <div class="card col-md-10" style="max-width: 100%;">
      <img class="card-img" src="/assets/main-visual-image.jpg" alt="メインビジュアル">
      <p>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。</p>
    </div>
  </div>
  <h3>新着商品</h3>
  <div class="row">
    <% @items.last(4).each do |item| %>
      <div class="col-md-3">
        <%= link_to item_path(item.id) do %>
          <p class="img-wrap"><%= image_tag item.get_image(200,200), fallback: "noimage.png" %></p>
        <% end %>
         <div class="card-body">
          <p><%= item.name %></p>
          <p><%= (item.price_without_tax*1.1).floor %>円</p>
        </div>
      </div>
    <% end %>
  </div>

<div class="row">
  <div class="col-xs-2">
    <p><%= link_to "もっと見る>", items_path %></p>
  </div>
</div>